/*.left-split {*/
/*-fx-background-color: #3E434C;*/
/*}*/

/*.right-split {*/
/*-fx-background-color: #3C3F41;*/
/*}*/

/*.left-top-bar {*/
/*-fx-background-color: #2B3643;*/
/*}*/

/*.portrait {*/
/*-fx-border-width: 2px;*/
/*-fx-border-color: #ffffff;*/
/*!*-fx-background-radius: 40px;*!*/
/*!*-fx-border-radius: 40px;*!*/
/*}*/

/*.text-region {*/
/*-fx-background-color: #2B2B2B;*/
/*}*/

/* http://graphicburger.com/simple-line-icons-webfont/ */

* {
    -fx-font-family: "Trebuchet MS", sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #959fad;
    -fx-padding: 0px !important;
}

.header {
    /*-fx-background-color: #2B3643;*/
    -fx-background-color: #0166CF;
}


.sidebar-menu {
    -fx-background-color: #1B2027;
    -fx-pref-width: 240px;
}

.page-content {
    -fx-background-color: #FFFFFF;
}

.split-pane {
    -fx-padding: 0px;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
    -fx-pref-width: 1px;
    -fx-background-color: #515151;
}

.warning-hint {
    -fx-background-color: #FFB878;
}

.text-field {
    -fx-text-fill: #333;
    -fx-background-color: #2B3643;
    -fx-border-width: 0;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    /*-fx-background-image:url('apr.png');*/
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}

.text-field:focused, .text-field:hover {
    -fx-background-color: #3F4F62;
    -fx-border-width: 0;
}

.slide-menu-btn {
    -fx-background-color: #1B2027;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.slide-menu-btn:hover {
    -fx-background-color: #242A31;
}

.slide-menu-btn:focused, .slide-menu-btn:pressed, .slide-menu-btn:selected {
    -fx-background-color: #0166CF;
}


